<!DOCTYPE html>
<html>
    <head>
        <meta lang="en" charset="utf-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="wwwroot/css/site.css" />
        <title>Groupie Tracker - {{.Name}}</title>
    <body>
        <header>
            <div>
                <ul class="navbar">
                    <li class="nav-item"><a href="/">Home</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="container">
                <a href="{{.GetPrev}}">
                    <img src="wwwroot/images/arrow-left.png" width="256px" height="256px" />
                </a>
                
                <div class="card">
                    <img class="card-image" src={{.Image}} />
                    <div class="card-title">
                        <h3>{{.Name}}</h3>
                    </div>
                </div>
                <a href="{{.GetNext}}">
                    <img src="wwwroot/images/arrow-right.png" width="256px" height="256px" />
                </a>
            </div>
            <div class="container item">
                <div>
                    <h3>Tour Dates</h3>
                    {{range $key, $value := .DatesLocations}}
                        <div>
                            <h1>{{$key}}</h1>
                            {{range $v := $value}}
                                <h2>{{$v}}</h2>
                            {{end}}
                        </div>
                        <hr />
                    {{end}}
                </div>
            </div>
            <div class="container item">
                <div>
                    <h3>Members</h3>
                    {{range .Members}}
                        <h1>{{.}}</h1>
                    {{end}}
                </div>
            </div>
            <div class="container item">
                <div>
                    <h3>First Album</h3>
                    <h1>{{.FirstAlbum}}</h1>
                </div>
            </div>
        </main>
    </body>
</html>